/* Header - Masthead letter spacing for H1-Name and H2-Title */
#h1-name {
    letter-spacing: 3px;
}

#h2-title {
    letter-spacing: 2px;
}

/* Devicons formating */
.devicon {
    font-size: 65px;
    padding: 20px;
}

/* About text effects for first line indentation and first letter size adjustment.  */
p.bio {
    text-indent: 30px
}

p.bio::first-letter {
    font-size: 130%
}

/* Video container for projects, sizing to be relative to the view. This "wrapper" will allow for fluid screen size responsiveness */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
}

/* Positioning video element absolutlely inside of parent container (wrapper) at full size. */
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Portfolio Icons Zoom Effect */
.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

p.nounderline {
    text-decoration-color: white
}

a.nounderline {
    text-decoration: none;
    color: white;
    font-style: italic
}